* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 7px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
}

p {
    padding: 1.6rem 0;
}

img {
    width: 100%;
    height: auto;
}

header {
    height: 46rem;
}

/*
#section-4 {
    overflow: auto;
}
*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header .bg-image {
    position: absolute; /* to locate header and paragraf onto image*/
    background-image: url(images/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.6;
    z-index: -1; /* position image to background*/
}

header h1 {
    padding: 10rem;
    padding-bottom: 0;
}

.button {
    display: inline-block;
    background-color: #333;
    color: white;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;
    transition: all 0.4s;
}

.button:hover {
    background-color: #fff;
    color: #333;
}

#section-1 {
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem;
}

#section-2 {
    padding: 2rem;
}

#section-2 ul {
    list-style: none;
}

#section-2 li {
    background-color: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}

.col-content {
    padding: 1.5rem;
}

#section-3 {
    background-color: #eaeaea;
    color: #333;
    padding: 5rem;
}

#section-4 .box {
    padding: 5rem;
}

#section-4 .box:first-child {
    background-color: darkslategray;
}

footer {
    padding: 4rem;
    background-color: black;
}
footer a {
    color: yellowgreen;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 9px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 11px;
    }
    #section-2 li {
        width: 28%;
        margin: 1%;
        display: inline-block;
    }
    .box {
        width: 50%;
        float: left;
    }
}